/**
 * Created by Francois Poirier on 2018-12-12.
 */
.THIS {

}
.THIS .iframe-container {
    overflow: hidden;
    padding-top: 56.25%;
    position: relative;
}

.THIS .iframe-container iframe {
    border: 0;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}