.THIS {
    margin-bottom:66px;
}
.THIS #myLeads-fade {
    width:33.3333%;
    max-height:255px !important;
    position:relative;
    /*background-image: url('/sfsites/c/resource/p01MyDashboard800x460');*/

    background-image: url('/resource/crcMyDashboard');
    background-repeat:no-repeat;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;

}


.THIS #myLeads-fade:hover{
    width:33.3333%;
    /*background-image: url('/sfsites/c/resource/p01over');*/

    background-image: url('/resource/crcMyDashboard_over');
    background-repeat:no-repeat;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;

}

.THIS #myLeads-fade2 {
    width: 33.3333%;
    /*background-image: url('/sfsites/c/resource/p02MyLeads800x460');*/

    background-image: url('/resource/p02MyLeads800x460');
    background-repeat: no-repeat;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;
}
.THIS #myLeads-fade2:hover{
    width:33.3333%;
    margin-right:-1px;
    background-size:100%;
    /*background-image: url('/sfsites/c/resource/p02over');*/

    background-image: url('/resource/p02over');
    background-repeat:no-repeat;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;

}

.THIS #myLeads-fade3 {
    width:33.3333%;
    /*background-image: url('/sfsites/c/resource/p03MyRewards800x460');*/

    background-image: url('/resource/crcMyReward');
    background-repeat:no-repeat;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;
}


.THIS #myLeads-fade3:hover{
    width:33.3333%;
    /*background-image: url('/sfsites/c/resource/p03over');*/
    background-image: url('/resource/crcMyReward_over');
    background-repeat:no-repeat;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;

}

.THIS #myLeads-fade4 {
    width: 33.3333%;
    /*background-image: url('/sfsites/c/resource/p02MyLeads800x460');*/

    background-image: url('/resource/p04IKOUniversity800x460');
    background-repeat: no-repeat;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;
    height:255px!important;
}
.THIS #myLeads-fade4:hover{
    width:33.3333%;
    margin-right:-1px;
    background-size:100%;
    /*background-image: url('/sfsites/c/resource/p02over');*/

    background-image: url('/resource/p04over');
    background-repeat:no-repeat;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;

}


.THIS #myLeads-fade5 {
    width: 33.3333%;
    /*background-image: url('/sfsites/c/resource/p05ProZone800x460');*/

    background-image: url('/resource/crcProzone');
    background-repeat: no-repeat;
    margin-right: -1px;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;
    height:255px!important;
}
.THIS #myLeads-fade5:hover{
    width:33.3333%;
    /*background-image: url('/sfsites/c/resource/p05over');*/

    background-image: url('/resource/crcProzone_over');
    background-repeat:no-repeat;
    margin-right:-1px;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;

}

.THIS #myLeads-fade6 {
    width: 33.3333%;
    background-image: url('/resource/icSummitBlog');
    background-repeat: no-repeat;
    margin-right: -1px;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;
    height:255px!important;
}
.THIS #myLeads-fade6:hover{
    width:33.3333%;
    background-image: url('/resource/icSummitBlogOver');
    background-repeat:no-repeat;
    margin-right:-1px;
    background-size:100%;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    background-position: bottom;
}


.THIS .topBlackBar {
    /*border-right:5px white solid;*/
    /*border-left:5px white solid;*/
}

.THIS .image-fade.linkTileSizeUI {
    /*border-right:5px white solid;*/
    /*border-left:5px white solid;*/
}

.THIS .linkTileSize{
    height:255px!important;
}

.THIS .linkTileSizeUI.cIcUILinkTile, .THIS .linkTileSizeUI.cIcUILinkTilesSmall{
    /*border: 4px white solid;*/
    border-top: 10px #fff solid;
    border-bottom:10px #fff solid;
    overflow: hidden;
    /*height:255px!important;*/
}


@media only screen and  (min-width: 320px) and (max-width:479px) {

    /* For TABLETS : */
    .THIS{
        margin-bottom:38px!important;
    }

    .THIS .mediaWidth {
        width:479px !important;
    }

    .THIS .linkTileHeader {
        /*color:red !important;*/
        font-size: 0.6rem !important;
        letter-spacing:1.5px;
    }
    .THIS .linkTileSizeUI.cIcUILinkTilesSmall{
        margin-bottom:16px;
        /*height:305px!important;*/
        border:unset!important;
    }


}



@media only screen and  (min-width: 480px) and (max-width: 767px) {

    /* For TABLETS : */

    .THIS{
        margin-bottom:38px!important;
    }

    .THIS .mediaWidth {
        width: 767px !important;
    }

    .THIS .linkTileSize {
        width:256px !important;
        height:199px !important;
        margin-top:10px!important;

    }

    .THIS body {
        width:768px
    }

    .THIS .comingSoon{
        font-size:14px!important;
    }

    .THIS .linkTileSizeUI.cIcUILinkTile, .THIS .linkTileSizeUI.cIcUILinkTilesSmall{
        border-top: 10px #fff solid;
        border-bottom:10px #fff solid;
        /*height: 200px;*/
    }




}










@media only screen and  (min-width: 768px) and (max-width: 1024px) {

    /* For between TABLET and DESKTOP Small : */

    .THIS{
        padding-left:1px;
    }

    .THIS .mediaWidth {
        width:1022px !important;
    }

    .THIS .linkTileSizeUI.cIcUILinkTile, .THIS .linkTileSizeUI.cIcUILinkTilesSmall{
        border-top: 4px #fff solid;
        border-bottom: 4px #fff solid;
    }

    .THIS .comingSoon{
        font-size:14px!important;
    }

}


@media only screen and  (min-width: 1025px) and (max-width: 1500px) {

    /* For DESKTOP Small : */
    /*.THIS .navMobile {*/
    /*display:none !important;*/
    /*margin-left: auto!important;*/
    /*margin-right: auto!important;*/

    /*}*/
    .THIS .linkTileSizeUI.cIcUILinkTile, .THIS .linkTileSizeUI.cIcUILinkTilesSmall{
        border-top: 4px #fff solid;
        border-bottom: 4px #fff solid;
        height:257px!important;
    }


    .THIS .mediaWidth {
        width:1022px !important;
    }

    .THIS .linkTileSize{
        /*margin-bottom:10px;*/
    }



}

@media only screen and (min-width:1501px){
    .THIS .linkTileSize{
        /*margin-bottom:10px;*/
    }

    .THIS .linkTileSizeUI.cIcUILinkTile, .THIS .linkTileSizeUI.cIcUILinkTilesSmall{
        border-top: 4px #fff solid;
        border-bottom: 4px #fff solid;
        height:257px;
    }
}