p,
h1,
h2,
h3 {
  font-family: Montserrat, "Open Sans", "sans-serif" !important;
}
h1 {
  text-transform: uppercase !important;
  font-weight: 800 !important;
  font-size: 20px !important;
  letter-spacing: 5px !important;
}
h2 {
  font-weight: 600 !important;
  font-size: 18px !important;
}
.bodyText {
  font-size: 14px;
}